<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 
 
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
 {% with messages=get_flashed_messages()%}
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="email address" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Sign in" class="btn btn-primary btn-large btn-block" >
			    <br>
			    <p>Don't have an account? <a href="/register">Click here to register.</a></p>
			</div>
		</div>
	</div>
	
	<div class="app-er">
		{%- for msg in messages %}
    
    
				<h1>{{msg}}</h1>
				{% endfor -%}
			</div>
</form>
{%endwith%}
{% endif %}
{% endblock %}




