<link rel="stylesheet" href="/static/style.css" type="text/css">

 
<form action="/register_con" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Regsiter</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">

				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="email address" name="email address">
				
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="age" name="age">
				
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="gender" name="gender">
				
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Regsiter" class="btn btn-primary btn-large btn-block" >
                <p>Already have an account? <a href="/">Sign In</a></p>
			    <br>
			    
			</div>
		</div>
	</div>
	


